<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanqiao.mapper.StudentMapper">
    <select id="queryStudentByStuNo" resultType="com.lanqiao.entity.Student" parameterType="int">
        select * from student where stuno = #{stuno}
    </select>

    <select id="addStudent" parameterType="com.lanqiao.entity.Student">
        insert into student(stuno,stuname,stuage) values(#{stuNO},#{stuName},#{stuAge})
    </select>
</mapper>