<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

<!--java的properties配置文件-->
    <bean id="config" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:jdbc.properties</value>
            </array>
        </property>
    </bean>
<!--    配置Mybatis信息,数据源-->
    <bean id = "dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="root"/>
        <property name="password" value="${password}"/>
    </bean>

<!--    在SpringIOC容器中，创建MyBatis的核心类SqlSessionFactory，老师把这里先删除了-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations" value="classpath:com/lanqiao/mapper/StudentMapper.xml"></property>
    </bean>

<!--    Spring整合Mybatis：将Mybatisde的SqlSessionFactory交给Spring-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
<!--   指定批量生产哪个包中的mapper对象,将mapper包中所有的接口产生与之对应的动态代理对象，对象名就是首字母小写的接口名         -->
        <property name="basePackage" value="com.lanqiao.mapper"></property>
    </bean>

<!--    依赖注入：给Service注入Dao-->
    <bean id="studentService" class="com.lanqiao.service.impl.StudentServiceImpl">
        <property name="studentMapper" ref="studentMapper"></property>
    </bean>
<!--给Controller注入Service-->
<!--    <bean id = "studentController" class="com.lanqiao.controller.StudentController">-->
<!--        <property name="studentService" ref="studentService"></property>-->
<!--    </bean>-->
</beans>

